server:
  port: 8081

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/db_tarifas?options=-c%20TimeZone=America/Argentina/Buenos_Aires
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
    hikari:
      data-source-properties:
        options: -c TimeZone=America/Argentina/Buenos_Aires

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        jdbc:
          time_zone: America/Argentina/Buenos_Aires
management:
  endpoints:
    web:
      exposure:
        include: health,info

  endpoint:
    health:
      show-details: always

  application:
    name: servicio-tarifas
