server:
  port: 8080

spring:
  application:
    name: api-gateway

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8091/realms/logistica

  cloud:
    gateway:
      default-filters:
        - AddRequestHeader=X-Requested-From, ApiGateway

      routes:
        - id: camiones
          uri: ${logisticaGateway.urlCamiones}
          predicates:
            - Path=/api/v1/camiones/**
          filters:
            - AddRequestHeader=X-Internal-Token, ${internal.token}

        - id: contenedores
          uri: ${logisticaGateway.urlContenedores}
          predicates:
            - Path=/api/v1/contenedores/**
          filters:
            - AddRequestHeader=X-Internal-Token, ${internal.token}

        - id: solicitudes
          uri: ${logisticaGateway.urlSolicitudes}
          predicates:
            - Path=/api/v1/solicitudes/**
          filters:
            - AddRequestHeader=X-Internal-Token, ${internal.token}

        - id: tarifas
          uri: ${logisticaGateway.urlTarifas}
          predicates:
            - Path=/api/v1/tarifas/**
          filters:
            - AddRequestHeader=X-Internal-Token, ${internal.token}

        - id: rutas
          uri: ${logisticaGateway.urlRutas}
          predicates:
            - Path=/api/v1/rutas/**
            - Path=/api/v1/tramos/**
          filters:
            - AddRequestHeader=X-Internal-Token, ${internal.token}

        - id: usuarios
          uri: ${logisticaGateway.urlUsuarios}
          predicates:
            - Path=/api/v1/usuarios/**
          filters:
            - AddRequestHeader=X-Internal-Token, ${internal.token}

        - id: maps
          uri: ${logisticaGateway.urlMaps}
          predicates:
            - Path=/api/v1/maps/**
          filters:
            - AddRequestHeader=X-Internal-Token, ${internal.token}

logisticaGateway:
  urlCamiones: ${LOGISTICA_GATEWAY_URL_CAMIONES:http://localhost:8081}
  urlContenedores: ${LOGISTICA_GATEWAY_URL_CONTENEDORES:http://localhost:8082}
  urlSolicitudes: ${LOGISTICA_GATEWAY_URL_SOLICITUDES:http://localhost:8083}
  urlTarifas: ${LOGISTICA_GATEWAY_URL_TARIFAS:http://localhost:8084}
  urlRutas: ${LOGISTICA_GATEWAY_URL_RUTAS:http://localhost:8085}
  urlUsuarios: ${LOGISTICA_GATEWAY_URL_USUARIOS:http://localhost:8086}
  urlMaps: ${LOGISTICA_GATEWAY_URL_MAPS:http://localhost:8087}

internal:
  token: SUPER_SECRET_TOKEN

logging:
  level:
    org.springframework.cloud.gateway: DEBUG
