# Maven
target/
*.class
*.jar
*.war

# IDE
.vscode/
.idea/

# Logs
*.log

# Sistema
.DS_Store
Thumbs.db

# Docker volumes
**/db_camiones_data/
**/db_contenedores_data/
**/db_solicitudes_data/
**/db_tarifas_data/
**/db_tramos_rutas_data/
**/db_usuarios_data/

# OSRM (NO SUBIR – ARCHIVOS GIGANTES)
osrm-data/
*.pbf
*.osrm
*.osrm.*
*.csv
*.mdb
*.sqlite
