server:
  port: 8082

spring:
  application:
    name: servicio-contenedores

  datasource:
    url: jdbc:postgresql://localhost:5432/db_contenedores
    username: postgres
    password: postgres
    hikari:
      data-source-properties:
        options: -c TimeZone=America/Argentina/Buenos_Aires

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        jdbc:
          time_zone: America/Argentina/Buenos_Aires

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    path: /swagger-ui.html

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always
